.main {
  font-size: 26px;
  text-align: center;
  padding-top: 30px;
}

.button {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.btnL {
  height: 40px;
}

.btnR {
  margin-left: 20px;
  height: 40px;
}
