<div>
  {{title}}
  <hr>

  <form [formGroup]="myGroup" class="main" (ngSubmit)="action()">
    <div>
      <label>Enter name:
        <br><input type="text" [formControl]="name">
      </label>
      <br>
      <div *ngIf="name.errors?.required"><i class="msg">This is required input</i></div>
      <div *ngIf="!!name?.errors?.minlength"><i class="msg">Min 3 symbols</i></div>
    </div>
    <div>
      <label>Enter age:
        <br><input type="number" [formControl]="age"></label>
      <br>
      <div *ngIf="age.errors?.required"><i class="msg">This is required input</i></div>
      <div *ngIf="age.errors?.min"><i class="msg">Sorry, you must have min 16 year!</i></div>
    </div>
    <div>
      <label>Enter email:
        <br><input type="email" [formControl]="email"></label>
      <br>
      <div *ngIf="email.errors?.required"><i class="msg">This is required input (...@...)</i></div>
    </div>
    <button [disabled]="myGroup.invalid" (click)="addUser()">Save</button>
  </form>
  <hr>
  <div class="user-list"><b>Users list:</b></div>
  <div *ngFor="let user of users">
    <ul>
      <li><i>{{user.name}} - {{user.age}} - {{user.email}}</i></li>
    </ul>
  </div>
</div>
